<?xml version="1.0"?>

<launch>

    <arg name="node_name" default="se3_dmp_node" />
    <node pkg="se3_dmp" type="se3_dmp" name="$(arg node_name)"
          output="screen" cwd="node">

          <rosparam>
            robot_type: "lwr4p"

            train_data_filename: "train_data.bin"
            sim_data_filename: "sim_data.bin"
            a_z: 20
            # b_z: a_z/4
            train_method: "LWR"             # training method, {"LWR", "LS"}
            shape_attr_gat_type: "Sigmoid"  # type of gating, {"Linear","Exp","Sigmoid"}
            s0: 1.0                         # initial gating value
            send: 0.5                       # terminal gating value
            N_kernels: [60, 60, 60]

            # === Cartesian spring-damper params ===
            Mp: [5, 5, 5]
            Dp: [60, 60, 60]
            Kp: [100, 100, 100]

            # === Orientation spring-damper params ===
            Mo: [1, 1, 1]
            Do: [6, 6, 6]
            Ko: [10, 10, 10]

            a_fext_filt: 0.9

            Fext_dead_zone: [0.8, 0.8, 0.8, 0.4, 0.4, 0.4]

            # === DMP stopping params ===
            a_force: 1.5
            c_force: 5 # Newton
            a_pos: 450
            c_pos: 0.02 # meters
            a_orient: 2
            c_orient: 5 # degress

            temp_scale: 1.0
            pose_offset: [0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
          </rosparam>

    </node>

</launch>
